* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Kotori;
    src: url(KotoriRose-Regular.otf);
}
body {
    display: grid;
    grid-template-columns: max(250px, 10%) 3fr;
    font-family: Kotori;
    color: black;
}
main{
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-template-rows: 100px 1fr 2fr;
    padding-left: 20px;
    color: #01161e;
    background-color: #DAC0A3
    
}

.logo {
    
    padding-top: 25px;
    display: flex;
    flex-direction: row;
}
.logo img {
    height: 30px;
}
.profile {
    display: grid;
    grid-template-rows: repeat(6, 25px);
    grid-template-columns: 20px 1fr;
    gap: 0;
    align-items: center;
    justify-items: flex-start;
    column-gap: 10px;
}
.profile img {
    grid-column: 1 / 2;
    width: 20px;
    
    
}
.settings {
    display: grid;
    grid-template-rows: repeat(3, 25px);
    grid-template-columns: 20px 1fr;
    gap: 0;
    align-items: center;
    justify-items: flex-start;
    column-gap: 10px;
}
.settings img {
    grid-column: 1 / 2;
    width: 20px;
    
    
}
header {
    background-color: #F8F0E5;
    height: 50px;
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 50px 3fr 80px 50px 1fr;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    
}
a {
    
    display: flex;
    
}
header a:first-of-type {
    grid-column: 1 / 2;
    justify-self: flex-end;
    width: 20px;
}
header a {
   
    width: 20px;
    justify-self: flex-end;
}

.drawnIcon {
    justify-self: flex-start;   
    
    
}
header h3 {
    justify-self: flex-start;
    
}
input[type=search] {
    width: 90%;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: #DAC0A3
}
nav {
    background-color: #F8F0E5;
    padding-top: 15px;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    box-shadow: 0px 8px 7px -7px #0F2C59;
-webkit-box-shadow: 0px 8px 7px -7px #0F2C59;
-moz-box-shadow: 0px 8px 7px -7px #0F2C59;
}
nav img {
    grid-column: 1 / 2;
    justify-self: flex-end;
    padding-right: 20px;
}
.navButtons {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    align-items: center;
    justify-content: flex-end;
    padding-right: 75px;
    gap: 20px;
    
    
}
.navButtons button {
    padding: 10px;
    color: white;
    background-color: #0F2C59;
    border: none;
    border-radius: 20px;
}
.mainDashboard {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.projects {
    margin-top: 10px;
    grid-column: 1 / 2;
    
    display: grid;
    padding-right: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    gap: 10px;
    
}

.projectsSection {
    padding-left: 20px;
    padding-top: 30px;
    background-color: #EADBC8;
}

.projectItem {
    padding: 5px;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: none;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 8px 70px -7px rgba(15,44,89,0.53);
-webkit-box-shadow: 0px 8px 70px -7px rgba(15,44,89,0.53);
-moz-box-shadow: 0px 8px 70px -7px rgba(15,44,89,0.53);
}
.interactiveSectionProject {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    justify-content: flex-end;
    padding-right: 10px;
    gap: 10px;
    align-content: flex-start;
}
a img {
    width: 20px;
}

.announcements {
    display: grid;
    gap: 20px;
    grid-column: 2 / 3;
}
.announcements div {
    height: 100px;
    font-size: 10px;
    
}
.trending {
    grid-column: 2 / 3;
    display: grid;
}
.trending div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px

}
.trending img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.trending p:first-of-type {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.trending p:last-of-type {
    grid-column: 2 / 3;
    grid-row: 2 / 3
}